<p>Dear <%= @offer.first_name %> <%= @offer.last_name %>,</p>
<p>
  We have offered you a position as a TA for <%= @offer.position_code %>, but we have not yet received notice of whether you plan to accept or reject the offer.
</p>
<p>
  Until you have accepted the offer, we cannot pay you. If you have any questions, please contact the course instructor or the TA coordinator at tacoord@cs.toronto.edu. If you have not accept your offer by <%= Time.zone.now + 7.days %>, your offer will be revoked. If you plan to reject the offer, please do so promptly. This is your <%= @contract[:nag_count] %><%= @contract[:nag_suffix] %> warning.
</p>
<p>
  Follow the link below to submit your final decision:<br/>
  <%= @url %>
</p>